body {
    background-color: #0a4440;
    color: aqua;
}

ul {
    list-style-type: none;
}

#statusicon {
    width: 10px;
    height: 10px;
    opacity: 100%;
    border-radius: 15px;
}


#container {
    width: min-content;
    display: flex;
    height: 500px;

    border: 1px yellow;
}

#userList {
    width: 500px;
    height: 500px;
    border: solid 1px #fa1212;
}

#chat {
    width: 500px;
    height: 500px;
    word-wrap: break-word;
    overflow-y: scroll;

    border: 1px solid aqua;
}

p {
    color: #f0fffe;
    padding: 6px;
    margin: 8px;
    border-radius: 15px;
    display: inline-block;
}

p.user {
    margin-left: 19em;
    background-color: rgb(67, 46, 248);
}

p.otheruser {

    background-color: rgb(21, 218, 253);
}

/* 
#messageField {
    width: ;
} */